

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.object-cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.rounded {
	border-radius: var(--tml-modal-border-radius, 10px);
}
.rounded-sm {
	border-radius: var(--tml-modal-border-radius-sm, 5px);
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mx-auto {
	@extend .ml-auto;
	@extend .mr-auto;
}

.divider {
	height: 1px;
	display: block;
	background-color: var(--color-light);
	border-bottom: 1px solid var(--color-lighter);
	margin:1rem 0;
}

.sticky {
    position: sticky;
	top:0;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-medium {
	font-weight: 500;
}
.w-full {
	width:100%;
}
button {
	--bg: var(--color-primary);
	--color: white;
	padding: var(--tml-button-padding-x, 0.5rem)
		var(--tml-button-padding-x, 1.25rem);
	@extend .outline-none;
	@extend .rounded-sm;
	background-color: var(--bg);
	color: var(--color);
	border: 1px solid transparent;
	cursor: pointer;
	font-weight: bold;
	transition-duration: 0.2s;
	transition-property: background-color;
	transition-timing-function: ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	a {
		color: var(--color);
		text-decoration: none;
		display: block;
		width:100%;
	}

	svg {
		width: 1.25rem;
		height: 1rem;
		margin-right: 0.25rem;
		margin-left: -0.5rem;
	}

	&.btn-primary {
		--bg: rgb(var(--color-primary-rgb), 0.9);
		border-color: rgb(var(--color-primary-rgb), 1);

		&:hover {
			--bg: rgb(var(--color-primary-rgb), 1);
		}
	}

	&.btn-secondary {
		--bg: var(--color-secondary);
		--color: gray;
		border-color: gray;

		&:hover {
			opacity: 1;
			--color: #333333;
			border-color: #333333;
		}
	}

	&:focus {
		border-width: 3px;
		padding: calc(var(--tml-button-padding-x, 0.5rem) - 3px)
			calc(var(--tml-button-padding-x, 1.25rem) - 3px);
		margin: 1px;
	}

	&[disabled] {
		opacity:0.8;
		cursor: text;
	}
}

.custom-check {
	label {
		position: relative;
		font-size: 1rem;
		cursor: pointer;
		--active-border-color: var(--color-primary);
		--active-background-color: var(
			--tml-gallery-item-selected-background-color,
			#ffffff
		);
		transition-duration: 0.5s;
		transition-property: border, background;
		transition-timing-function: ease;
		// img {
		//     width:80px;
		//     margin-bottom:5px;
		// }
	}

	input {
		display: none;
	}

	input:checked + label {
		border-color: var(--active-border-color);
		// background-color: #e4e4e4;
	}
	input:checked + label:after {
		content: "\2713";
		color: var(--active-border-color);
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 100%;
		border: 4px solid var(--active-border-color);
		background-color: var(--active-background-color);
		z-index: 999;
		position: absolute;
		top: -10px;
		right: -10px;
	}
}
