.tml-media-preview {
	.tml-media-preview-empty {
		h2 {
			margin: 0;
			margin-bottom: 0.5rem;
			color: var(--color-dark);
            overflow-wrap: break-word;
		}
		p {
            margin: 0;
            margin-bottom: 1rem;
			color: var(--color-grey);
		}
	}

    .tml-media-preview-image-container {

        .tml-media-preview-image {
            // max-width: 100%;
            object-fit: cover;
            width: 280px;
        }

        h2 {
            margin:0.25rem 0;
            overflow-wrap: break-word;
        }
    }

	.tml-media-info-content {
		h4 { margin:0;}

		dl {
			margin-top: 1rem;
			border-color: var(--color-grey);
			border-style: solid;
			border-top: 1px;
			border-bottom: 1px;
			border-right: 0;
			border-left: 0;

			> div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;
				font-size: 0.875rem;
				line-height: 1rem;
				font-weight: 500;
				padding: 0.75rem 0;

				dt {
					color: var(--color-grey);
				}
				dd {
					color: black;
					text-align: right;
				}
			}
		}
	}

	.tml-item-actions {
		.tml-item-actions-primary {
			display: flex;
			gap: 1rem;
			
			button {
				flex: 1;
			}
		}
	}
}
