* {
	box-sizing: border-box;
}
@import './styles/mixin';

:host {
	--tml-close-icon-template-color: var(--tml-modal-close-icon-color, #888);
	--color-primary-rgb: var(--tml-color-primary-rgb, 99, 102, 241);
	--color-primary: rgb(var(--color-primary-rgb));
	--color-secondary: var(--tml-color-secondary, rgb(249, 250, 251));
	--color-grey: var(--tml-color-grey, grey);
	--color-light: var(--tml-color-light, #bbbbbb);
	--color-dark: rgb(17, 24, 39);
}
#tml-backgroundmodal {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	transition: opacity var(--tml-modal-animation-duration, 0.3s) ease-in;
	-webkit-transition: opacity var(--tml-modal-animation-duration, 0.3s) ease-in;
	align-items: center;
	justify-content: center;
	z-index: var(--tml-modal-z-index, 100);
	background-color: var(--tml-modal-background-color, rgba(30, 30, 30, 0.8));

	&.transparent {
		opacity: 0;
	}
	&.opaque {
		opacity: 1;
		display: flex !important;
	}
	&.opened {
		display: flex !important;
	}

	@import "./styles/helpers";
}

.tml-content {
	display: block;
	position: relative;
	z-index: var(--tml-modal-content-z-index, 101);
	width: var(--tml-modal-width, fit-content);
	min-width: var(--tml-modal-min-width, 500px);
	max-width: var(--tml-modal-max-width, 100vw);
	height: var(--tml-modal-height, 80%);
	// min-height: var(--tml-modal-min-height, 50%);
	// max-height: var(--tml-modal-max-height, 100vh);
	background-color: var(--tml-modal-content-background-color, #ffffff);
	box-shadow: var(--tml-modal-content-shadow-displacement, 6px)
		var(--tml-modal-content-shadow-displacement, 6px)
		var(--tml-modal-content-shadow-blur, 16px)
		var(--tml-modal-content-shadow-color, #000);

	padding: var(--tml-modal-content-padding, 1em);
	overflow-y: initial !important;

	@include responsive (smartphone-portrait){
		height: 100%;
	}

	.tml-modal-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		position: relative;

		.tml-modal-close-link {
			position: absolute;
			top: -18px;
			right: -12px;
			cursor: pointer;

			svg {
				height: 30px;
				width:15px;
				color: var(--color-grey);
			}
		}
	}
	.tml-modal-footer {
		display: flex;
		align-items: center;
		height: 50px;
	}

	.tml-modal-body {
		overflow-y: auto !important;
		max-height: 90%;
		height: calc(100% - 100px);
		// padding-right: var(--tml-modal-content-padding, 1em);
	}

	.tml-modal-close {
		position: absolute;
		display: inline-block;
		top: var(--tml-modal-close-icon-top, 5px);
		right: var(--tml-modal-close-icon-right, 18px);
		z-index: var(--tml-modal-close-icon-z-index, 1002);
		width: var(--tml-modal-close-icon-size, 24px);
		height: var(--tml-modal-close-icon-size, 24px);
		cursor: var(--tml-modal-close-icon-cursor, pointer);
	}
	.contentIconSeparation {
		padding-top: var(--tml-modal-extra-top-separation-when-icon, 10px);
	}

	.tml-gallery-preview-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		@media (min-width: 700px) {
			& {
				flex-wrap: nowrap;
			}
		}

		.tml-preview-container {
			min-width: 250px;
			max-width: 100vw;
			padding: var(--tml-modal-info-padding, 1rem);
			padding-top:0;
			background-color: var(--tml-modal-info-background-color, #ffffff);
		}
	}

	@import "./styles/gallery";
	@import "./styles/filter";
	@import "./styles/preview";
}
